//Font-family
$font-main: "Raleway", sans-serif;
$font-accent: "Playfair Display", serif;
$font-secondary: "Roboto", sans-serif;

//Color
$background: #242b33;
$footer-bg: #2d343c;
$text: #d4c17f;
$white: #ffffff;
$dark: #242B33;

//Media
$tablet: 999.8px;


.no-scroll {
	overflow-y: hidden;
}
