.apartments {
	margin: 120px 0px 0px 0px;
}

.territory__body {
	margin: 0px 0px 70px 0px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.territory__img {
	position: relative;
	> img {
		position: absolute;
		left: 750px;
		top: -100px;
	}
}

.territory__cards {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 193px;
	margin: 0px 0px 50px 0px;
	@include mediaTablet {
		margin: 0px 0px 30px 0px;
		width: 153px;
  }
}

.card__logo {
	margin: 0px 0px 53px 0px;
	@include mediaTablet {
		margin: 0px 0px 30px 0px;
  }
}
.card__text {
	text-align: center;
	> p {
		@include style__text(20px, $white, $font-secondary);
		@include mediaTablet {
			font-size: 16px;
	  }
	}
	line-height: 27px;
}

.apartments__body {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.apartments__img {
	position: relative;
	> img {
		position: absolute;
		top: -50px;
		right: 500px;
		width: 100%;
		height: 284px;
	}
}

.apartments__title {
	> h2 {
		@include style__text(36px, $text, $font-accent);
		@include mediaTablet {
			font-size: 32px;
	  }
	}
	@include mediaTablet {
		text-align: center;
		margin: 0px 0px 33px 0px;
  }
	margin: 0px 0px 73px 30px;
}
.apartmens__cards {
	position: relative;
	display: flex;
	margin: 17px;
}

.cards__img {
	> img {
		width: 520px;
		height: 320px;
		transition: 1s;
		@include mediaTablet {
			width: 320px;
			height: 220px;
	  }
	}
	> img:hover{
		transform: scale(1.1);
		opacity: 0.5;
	}

}
.cards__title {
	position: absolute;
	bottom: 15%;
	left: 5%;
	> p {
		transition: 1s;
		@include style__text(24px, $white, $font-main);
		font-weight: normal;
		@include mediaTablet {
			font-size: 16px;
	  }
	}
	> p:hover{
		transform: scale(1.1);
		opacity: 0.5;
	}
}
